<style>
.footer {
  background-color: #01082b;
  margin-top: 30px;
  border-top: 3px solid rgba(255, 255, 255, 0.15);
}
.sub {
  text-align: center;
  font-size: 18px;
  color: white;
}
.contact-items a {
  color: #fff;
  font-size: 16px;
  padding: 5px;
}
.contact-items {
  text-align: center;
  transition: transform 0.5s;
  padding-bottom: 15px;
}
.contact-items i {
  margin-left: 16px;
}
.contact-items a:hover {
  opacity: 0.8;
}
.copyright {
  background-color: #1877f2;
  padding: 1rem;
  width: 100%;
  float: right;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .sub {
    font-size: 8px;
  }
  .contact-items a {
    font-size: 12px;
  }
  .copyright {
    font-size: 12px;
  }
}
</style>
<footer id="footer" class="footer">
    <div class="sub">
      <h1>Contact Us</h1>
    </div>
    <div class="contact-items">
      <a style="text-decoration: none" href="#" class="email"><img src="../Image/mail.png" loading="lazy"/> jaktourbandofc@gmail.com</a>
      <a style="text-decoration: none" href="https://www.youtube.com/channel/UCD3fwZrfMwxgwkNFBITbsUA/featured" class="youtube"><img src="../Image/youtube.png" loading="lazy"/></i> Jaktour Band</a>
      <a style="text-decoration: none" href="https://jaktourband.vercel.app/" class="web"><img src="../Image/globe.png" loading="lazy"/> jaktourband</a>
    </div>
    <div class="copyright">
      Copyright &copy; Jaktour Band 2024. Made by
      <a href="https://iyusrustandi.github.io/" style="color: #fff">Iyus Rustandi</a>
    </div>
</footer>
