/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background: #222 url('../images/background.png') center/cover no-repeat;
  min-height: 100vh;
}

/* ====================== Lyrics ===================== */
h2 {
  font-size: 1.125rem;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.lyric {
  font-family: 'Oxygen Mono', monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  white-space: pre-wrap;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lyric pre {
  font-family: inherit;
  white-space: pre-wrap;
}

.reff {
  font-size: 0.8rem;
  margin: 15px 0;
  position: relative;
  left: 15px;
}

/* Chord and Section */
.chord {
  display: inline-block;
  color: #e31708;
  font-weight: bold;
  padding: 2px 2px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.section-title {
  font-size: 0.8rem;
  font-weight: bold;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}

.button-container .button-text {
  font-size: 16px;
  font-weight: bold;
}

.button-container button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

.button-container button:hover {
  transform: scale(1.05);
}

.decrement-button {
  background-color: #ff4d4d;
  color: #fff;
}

.increment-button {
  background-color: #4caf50;
  color: #fff;
}

.decrement-button:hover {
  background-color: #e63939;
}

.increment-button:hover {
  background-color: #45a049;
}

/* Modal Style */
#chord-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #f44336;
}

#chord-image {
  max-width: 100%;
  max-height: 60vh;
  margin-top: 10px;
}

#chord-message {
  color: #e31708;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Animasi Spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Sembunyikan saat konten telah dimuat */
.hidden {
  display: none;
}

/* ====================== Mobile Responsiveness ===================== */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }

  .lyric {
    font-size: 0.8rem;
    max-width: 100%;
    padding: 12px;
  }

  .section-title {
    font-size: 0.8rem;
  }

  .chord {
    font-size: 0.8rem;
  }

  .reff {
    font-size: 0.8rem;
  }

  .button-container {
    max-width: 50%;
  }

  .button-container .button-text {
    font-size: 0.75rem;
  }

  .button-container button {
    font-size: 0.75rem;
    width: 100%;
  }

  #chord-modal {
    width: 50%;
    height: auto;
    padding: 5px;
  }

  .modal-content {
    width: 100%;
    max-height: 80%;
  }
}
