* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('../images/background.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}

/* ======================lyrics======================= */
.lyric-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 3vw;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.lyric {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  line-height: 1.25;
  font-size: 1.5vw;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: #000;
}

/* ==== FIX: Atur <pre> supaya spacing tidak berlebihan ==== */
.lyric pre {
  margin: 1rem 0; /* jarak antar block */
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  white-space: pre-wrap;
  line-height: 1.25;
}
.guide {
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #edf0fc;
  color: #000;
  border-radius: 8px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.22), 1px 0px 0px rgba(0, 0, 0, 0.22), 1px 2px 0px rgba(0, 0, 0, 0.22), 2px 1px 0px rgba(0, 0, 0, 0.22), 2px 3px 0px rgba(0, 0, 0, 0.22), 3px 2px 0px rgba(0, 0, 0, 0.22),
    3px 4px 0px rgba(0, 0, 0, 0.22), 4px 3px 0px rgba(0, 0, 0, 0.22), 4px 5px 0px rgba(0, 0, 0, 0.22), 5px 4px 0px rgba(0, 0, 0, 0.22), 5px 6px 0px rgba(0, 0, 0, 0.22), 6px 5px 0px rgba(0, 0, 0, 0.22), 6px 7px 0px rgba(0, 0, 0, 0.22),
    7px 6px 0px rgba(0, 0, 0, 0.22), 7px 8px 0px rgba(0, 0, 0, 0.22), 8px 7px 0px rgba(0, 0, 0, 0.22);
}

/* BLOCK SPACING */
.verse {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.reff {
  position: relative;
  left: 30px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

/* ================mobile phone display================== */

@media only screen and (max-width: 768px) {
  .sub-title {
    font-size: 15px;
  }
  .gallery {
    width: 100px;
  }
  .description {
    font-size: 14px;
  }

  h2 {
    font-size: 5vw;
  }
  .lyric {
    width: 85%;
    font-size: 3.5vw;
  }
  .numbertext {
    font-size: 10px;
  }
  .caption-container {
    font-size: 12px;
  }
  .prev,
  .next {
    font-size: 12px;
  }
}
